[submodule "sodiumoxide"]
	path = sodiumoxide
	url = https://github.com/brinchj/sodiumoxide.git
[submodule "rustsqlite"]
	path = rustsqlite
	url = https://github.com/brinchj/rustsqlite.git
[submodule "rust"]
	path = rust
	url = https://github.com/mozilla/rust.git
[submodule "quickcheck"]
	path = quickcheck
	url = https://github.com/BurntSushi/quickcheck.git
